:root{
    --font: 'Antonio', sans-serif;    
    --box-shadow: 5px 5px #767c7c;
    --background-color: rgb(151, 240, 69);
}
/*Estilos para registro*/
.contenedor{
position: absolute;
float: center;
left: 35%;
top: 30%;
width: 400px;

}
.contenedor div{
    padding-top: 30px;
}
.contenedor form{
    border: 3px #000000;
  background-color: #87C6BF;  
  padding: 10px 10px;
  box-shadow: var(--box-shadow);



}
span,h1{
    font-family: var(--font);
    text-align: center;
    
}
button{
    left: 25%;
   
}
input{
    font-size: 18px;
}

/*Estilos para login*/
.contenedor2 form{
    background-color:#87C6BF;
    width: 450px;
    padding: 20px;
    position: absolute;
    left: 35%;
    top: 30%;
    font-family: var(--font);
    font-size: 28px;
    box-shadow: var(--box-shadow);




}
.contenedor2 button{
    margin-top: 10px;
    margin-left: 90px;
    background-color: #DF4F4F;
    border-radius: 5px;
    font-family: var(--font);
    color: black;
    border:2px white;
    border-style: solid;
    font-size: 20px;
    
}
.contenedor2 button:hover{
    background-color: rgb(238, 121, 121);
    border-color: white;
    border-width: 3px;
    
}
.contenedor2 img{
    width: 50px;
    position: relative;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    
}
/*estilos de articulos*/
.articulos{
    
    border: 2px black;
    

}
.articuloscontenedor{

height:380px;
border-color: black;
margin-top: 10px;

}
.articulos button{
    background-color: chartreuse;
    color:white;
    border-color:rgb(255, 255, 255);
    font-weight:300;
    border-radius: 3px;
    border: 2px;
    height: 40px;
    width: 100px;
    animation-name: stretch;
    animation-duration: 3s;
    animation-delay:1s ;
    font-size: 18px;
    font-family: var(--font);
    

}
.articulos button:hover{
    background-color: rgb(189, 245, 136) ;
    color: black;
    border-color: chartreuse;
    border: 2px;
    cursor: pointer;
    



}


.articulos span{
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    
}
.articulos img{
    height: 200px;
    
}
/*estilos pagina carrito*/
.grid{

    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-auto-rows: 100px;
    
    font-family: var(--font);
    font-size: 16px;
    border: 3px solid white;
    grid-template-rows: repeat(1, 2fr);
    margin:5px 5%;
    background-color: rgb(213, 221, 238);
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    


    

}
.grid label{
font-family: var(--font);
font-size: 14px;
padding-bottom: 15px;

}
.grid button{
    background-color:var(--background-color);
    border: 2px solid white;
    border-radius: 7px 7px;
    width: 100px;
    color: white;
    height: 40px;
    margin: 5px 50px;
    font-family: var(--font);
    font-size: 14px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-delay:2s ;

}
.grid button:hover{
box-shadow: rgb(183, 238, 170) 3px 3px;
background-color: rgb(189, 245, 136) ;
color: white;



}

/*Animacion botones*/
@keyframes stretch{
    0%{
        transform: scale(.2);
        background-color: white;
        color: black;

    }
    50%{
        transform: scale(.5);
        background-color: rgb(176, 235, 176);
        color: black;
        animation-timing-function: ease-out;
    }
    100%{
        transform: scale(1.2);
        
    }
}
.grid div{
    border:1px solid white;
    padding: 2px 10px;
    margin-left: 10px;
    background-color: white;
    height: 55px;
   
    

    
}
.grid i{
    color:black;
}
.grid i:hover{
    color: red;
}
/*estilo boton pagar e input total*/
.total{
    margin: 40px 100px;
    font-family: var(--font);
    font-size: 20px;
    width: 900px;
    position: absolute;

    
}
.total span{
    margin-left: 10px;
    font-size: 20px;
    background-color: #c7ece8;
    padding: 5px 5px;
    border: 1px solid rgb(159, 233, 163);
    font-weight: 600;
    position: relative;
    width: 100px;
    
}
.total button{


    
    background-color:var(--background-color) ;
    animation-name: stretch;
    animation-duration: 2s;
    animation-delay:2s ;
    border: 2px solid white;
    font-weight: 600;
    float: right;
    
   
}
